.global{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    border-radius: 25px;


}
.container{
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;  
    justify-content: center;
    width: 400px;
    border-radius: 25px;
}
.weather{
    color: #696969;
    width: 150px;
    text-align: center;
 
}
.date-display{
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;  
    justify-content: center;   
    font-weight:bold;
}
.date-string{
    width: 30px;
    padding: 5px;
    margin-top: 0px;
}
.button{
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    border: none;
	outline: none;
	box-shadow: none;
    align-items: center;
}
.location{
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;  
    justify-content: center;  
}
.temperature{
    padding-bottom: 30px;
}
.line{
    border-left: 3px solid #696969;
    width: 3px;
}
.strava{
    width: 250px;
    color: #EC6E4C;
    text-align: center;
}
.strava-title{
    border-width: 20px 0px;
}
.row{
    border-bottom: 25px;
}
.strava-stats{
    padding-left: 20px;
    text-align: right;
}
.strava-progress-bar{
    width: 100px;
    height: 30px;
}
.bars{
    background-color: #EC6E4C;
    height: 30px;
}
